* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
    font-family: 'roboto', sans-serif;
}
li {
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
li:hover {
    transform: scale(1.02);
    color:#0585FC;
}



.block-aboutus {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px rgb(197, 197, 197) solid;
    &_block-reg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        &_gtext {
            font-family: 'Courier New', Courier, monospace;
            font-size: 44px;
        }
        &_input {
            width: 282px;
            height: 25px;
            border-radius: 4px;
            border: 2px solid rgb(197, 197, 197);
        }
        &_btn {
            margin-left: 4%;
            margin-top: 2%;
            width: 265px;
            height: 40px;
            border-radius: 4px;
            background-color: #0585FC;
            border: none;
            color: white;
            font-family: 'roboto', sans-serif;
            font-size: 16px;
            -webkit-transition:all 1s ease;
            transition: all 1s ease;
        }
        &_btn:hover {
            transform: scale(1.09);
        }
    }
    &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'roboto', sans-serif;
        width: 450px;
        height: 550px;
        &_gtext {
            font-family: 'Courier New', Courier, monospace;
            font-size: 44px;
        }
        &_text {
            font-size: 18px;
        }
    }
}
.info {
    margin-left: 12%;
    margin-right: 10%;
    &_ugtext {
        display: flex;
        justify-content: center;
        font-family: 'roboto', sans-serif;
        font-size: 44px;
    }
    &_container {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 5%;
    &_block {
        flex-direction: column;
        &_count {
        font-size: 44px;
        color: #0585FC;
        font-family: 'roboto', sans-serif;
    }
    &_text {
        font-family: 'roboto', sans-serif;
        font-size: 16px;
    }
}
}
}
.ours-startups {
    &_gtext {
        font-size: 44px;
        font-family: 'roboto', sans-serif;
        display: flex;
        justify-content: center;
    }
    &_text {
        margin-top: 80px;
        display: flex;
        justify-content: end;
        color: #0585FC;
        font-size: 22px;
        margin-right: 25px;
        -webkit-transition: all 1s ease;
        transition: all 1s ease; 
    }
    &_text:hover {
        transform: scale(1.09);
        margin-right: 80px;
    }
    &_block {
        display: flex;
        justify-content: space-evenly;
        &_img {
            width: 250px;
            height: 250px;
            -webkit-transition: all 1s ease;
            transition: all 1s ease; 
            cursor: pointer;
        }
        &_img:hover {
            transform: scale(1.07);
        }
    }
}
