a {
    text-decoration: none;
    color:black;
}
.startups {
    &_gtext {
        font-family: 'roboto', sans-serif;
        font-size: 44px;
        display: flex;
        justify-content: center;
        margin-top: 3.5%;
        margin-bottom: 3.5%;
    }
    &_block {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 0px;
        &_card {
            margin-left: 60px;
            &_img {
                cursor: pointer;
                width: 250px;
                height: 250px;
                -webkit-transition: all 1s ease;
                transition: all  1s ease;
            }
            &_img:hover {
                transform: scale(1.04);
            }
        }
    }
}
.addStartups {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 7%;
    &_btn {
        width: 200px;
        height: 40px;
        border-radius: 8px;
        border: none;
        color: white;
        font-family: 'roboto', sans-serif;
        background-color: #0585fc;   
        -webkit-transition: all 1s ease;
        transition: all 1s ease;  
        cursor: pointer;
    }
    &_btn:hover {
        transform: scale(1.105);
    }
}